@media (min-width: 1200px) {
  .product .col-md-5 {
    width: 47%; }
  .product .col-md-7 {
    width: 53%; } }

@media (min-width: 992px) {
  .visible-sm {
    display: none; } }

@media (max-width: 991px) {
  .hidden-sm {
    display: none; }
  .order__item {
    padding-right: 30px; }
  .card__info {
    margin-top: 30px; }
  .category-menu > li > a {
    font-size: 14px; }
  .header-wrapp {
    clear: both; }
  .catalog-btn {
    font-size: 14px;
    padding: 14px 0; }
  .nav {
    padding-left: 0;
    float: none !important; }
  .profile {
    padding-right: 0;
    float: none !important;
    margin-top: 15px; }
  .nav > li {
    float: none;
    margin-top: 15px;
    margin-left: 0 !important; }
  .search {
    width: 225px; }
  .telephone__number {
    font-size: 24px; }
  .banner {
    height: auto; }
  .catalog-menu {
    position: relative;
    clear: both;
    padding-top: 20px; }
  .header-top {
    display: block; }
    .header-top:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
  .logo {
    float: left; }
  .search {
    float: right; }
  .telephone {
    clear: both;
    float: left; }
  .header__basket {
    float: right; }
  .advantages__wrapp {
    padding-left: 0; }
  .advantages__icon {
    width: 80px; }
  .advantages {
    font-size: 16px; }
  .review__rating {
    text-align: left; } }

@media (max-width: 767px) {
  .catalog-menu__list {
    display: none;
    text-align: center; }
  .catalog-menu_inner {
    padding-right: 0;
    padding-top: 0; }
  .catalog-btn {
    width: 100%;
    position: relative;
    font-size: 16px; }
  .text-page img {
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .hidden-xs {
    display: none; }
  .basket__table {
    overflow: auto; }
    .basket__table table {
      width: 700px; }
  .catalog-menu__title {
    font-size: 18px;
    text-align: center;
    cursor: pointer; }
  .catalog-menu {
    width: 100%; }
  .product__status_card,
  .review__rating,
  .card__price__item,
  .card__price__item + div {
    float: none !important; }
  .card__price__item {
    font-size: 24px; }
  .page-title {
    font-size: 24px; }
  .also .page-title {
    margin-bottom: 30px; }
  .review__rating {
    margin-top: 15px; }
  .card__price__item {
    text-align: center;
    margin-bottom: 15px; }
  .banner {
    background-image: none !important; }
  .logo {
    float: none;
    text-align: center; }
  .search {
    float: none;
    margin: auto;
    text-align: center;
    margin-top: 15px; }
  .telephone {
    clear: both;
    float: none;
    text-align: center;
    margin-top: 15px; }
  .header__basket {
    float: none;
    text-align: center;
    margin-top: 15px; }
  .catalog-menu:after {
    content: none; }
  .advantages__wrapp {
    display: block; }
  .advantages__text {
    text-align: left; }
    .advantages__text br {
      display: none; }
  .advantages__item + .advantages__item {
    margin-top: 15px; }
  .nav-tabs a {
    font-size: 24px; }
  .product__price__item {
    font-size: 18px; }
  .item-block {
    padding-top: 25px; }
  .nav-tabs {
    margin-bottom: 25px; }
  .item-title {
    font-size: 24px;
    margin-bottom: 25px; }
  .footer-top-wrapp {
    display: block;
    text-align: center; }
    .footer-top-wrapp > div + div {
      margin-top: 15px; }
  .copyright {
    text-align: center; }
  .header .container {
    padding-left: 0;
    padding-right: 0; }
  .header-wrapp {
    padding-left: 15px;
    padding-right: 15px; }
  .pagination > li {
    margin-right: 5px;
    margin-left: 5px; }
  .order {
    padding: 30px 0; } }

@media (max-width: 450px) {
  .nav-tabs > li + li {
    margin-left: 15px; }
  .register-text {
    margin-right: 0; }
  .order__item {
    padding: 15px 10px; }
  .basket-btns .btn {
    display: block;
    margin-left: 0;
    margin-bottom: 15px; }
  .nav-tabs a {
    font-size: 22px; }
  .page-title {
    font-size: 20px; }
  .card-tabs > li a {
    padding: 10px; }
  .col-exs-12 {
    width: 100%; } }
